#introduction {
    margin-bottom: 200px;
}

#articles { 
    margin-top: 25px;
}

.header { 
    margin-bottom: -50px;
}

.sectionHeading {
    width: 75px;
    border-bottom: thick solid black;
    margin-bottom: 23px;
}

article {
    height: 101px;
    margin-bottom: 75px;
}

.blogPost { 
    margin-top: 25px;
}

img { 
    width: 100%;
}

.project {
    margin-top: 20px;
}