body {
    font-family: 'Roboto', sans-serif;
}


.display-1 {
    font-size: 60px;
    font-weight: 900;
}

h2 { 
    font-size: 32px;
    border-bottom-width: 5px;
}

h3 { 
    font-size: 24px;
    line-height: 34px;
}

p { 
    font-size: 20px;
    line-height: 40px;
    color: #202020;
}

.tagline {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

.articleTitle {
    margin-bottom: -10px;
}

.articledescription {
    font-weight: 400;
}

.date {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: thick solid white;
    margin-bottom: 10px;
    transition: border-color 0.5s ease;
}

a:hover {
    text-decoration: none;
    border-bottom: thick solid black;
    margin-bottom: 10px;
    transition: border-color 0.5s ease;
    cursor: pointer; 
}

.inlineLink {
    color: black;
    border-bottom: thin solid black;
    margin-bottom: 10px;
}

.inlineLink:hover {
    border-bottom: thin solid black;
}

  li {
    line-height: 40px;
  }
  
 .menuLink {
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
    text-decoration: none;
  }

  
 li, .menuItem:active {
    transition: color 0.5s ease;
  }