---
layout: default
---

<div class="container">
    <div class="row">
        <div class="offset-sm-2 col-sm-8 offset-2 col-lg-8">
            <div class="sectionHeading">
                <h1>Articles</h1>
            </div>
        </div>
    </div>
    {% for post in site.posts %}        
    <div class="row">
        <div class="offset-sm-2 col-sm-8 offset-2 col-lg-8">
            <article> 
                    <h3 class="articleTitle"><a href="{{ post.url }}">{{ post.title }}<span class="articledescription"> {{ post.description }}</a></span></h3>    
                <p class="date">{{ post.categories }}, {{ post.date | date: '%B %d, %Y' }}</p>
            </article> 
        </div>
    </div>
    {% endfor %}
</div>
