---
layout: project
title:  "Canadian Tire Prototypes"
description: " building prototypes that would be used in user testing"
categories: ["Prototype"]
permalink: /canadian-tire/
---
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="{{ "/images/toasteroven_cr.png" | absolute_url }}" alt="Digital Toaster oven prototype built for Canadain Tire." >
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
            <h3>Project Overview</h3>
            <p>Develop a digital prototype that represents a counter top appliance to be used in user testing to find out if users understand the iconography and wether or not the flow was natural.</p>

            <p><strong>The Prototype: </strong><a href="https://xy09zb.axshare.com/#g=1&p=tutorialstate&c=1" class="inlineLink"> Try out the final prototype for yourself.</a></p><br/>

            <h3> Designing the Prototype </h3>
            <p>The product is made up of three components </p>

            <ul>
                <li>A dial which users use to control the menu and select options</li>
                <li>Buttons which could range from start, stop, pause</li> 
                <li>A screen that is not touch based</li>
            </ul>
                    
            <p>The dial needed to be able to spin left, right, and do a full 180. (This would not of been possible without the help of one of our dev's) When users click the dial, that selects the option that they have chosen. Since we were going to be testing on iPads we needed to break the habits that an iPad user might have, such even though you are used to everything responds by tapping on it, that won't work. </p>
            <p>Along with the basic function of the dial, the dial needed to look like a dial to the user. When reading up on the theory of Google Material, I liked their method of using shadows to help reinforce an illusion of depth. A shadow was included onto the dial to let the user know they can interact with this object. </p>
            
            <h3>User Testing the Prototype</h3>
            <p>To quickly introduce the users to the prototype and get them familiar with the controls an onboarding screen that allows users to test out the prototype was added. This inclusion helped get users up to speed on what they could or could not do. Through testing we had found the giving the users a brief introduction to the product and let them play around with it a bit curved the learning experience.</p>
            <p>Since the counter top appliance offered visual feedback when the user did something right (or wrong) we felt that the inclusion of an animated GIF would show the user that they had done something right.</p>

            <p>During the user test we would ask users to perform a variety of tasks. These tasks ranged from turn the appliance on and what do you think the icons mean? Next we asked users to take steps toward cooking an frozen meal in the oven. Once each one of these tasks were done we asked them on a scale how well they thought they did. </p>
            <h3>The Results</h3>
            <p>For each prototype we returned some interesting findings. Some users struggled harder than others when using the prototype. Others understood it right away. Almost all users tried to touch the digital display screen multiple times throughout the test before remembering to select an item they tap the center of the dial. Overall the results returned from the user test answered our basic questions and from there we were confident enough to make design recommendations. </p>

            <h3>Lessons Learned</h3>
            <p>This was a new project for me and the group. Research showed that this was still a pretty experimental approach to user testing a product. For this to succeed we would need to break the user's mental model of the iPad and focus soley on the prodcut. If I had to redo this project I would sugesst seperating the "touchable" aspect of the prototype and the digital screen to give a more realistic experience when testing. </p>
        </div>
    </div>
</div>

