---
layout: default
title:  "Kevin Zaworski"
---

    <div id="introduction" class="container right">
        <div class="row">
            <div class="col-sm-10  col-md-8 offset-md-2 col-lg-8 header">
                <h2 class="display-1">Hello! </h2>
            </div>
            <div class="col-sm-10 offset-md-2 col-md-8 col-lg-8">
                <h2 class="tagline">
                    I am Kevin Zaworski, a Systems Analysis graduate focused on user experience and full stack web development.<br />
                    &emsp;  I'm currently working freelance and developing my own personal projects. In the past I have worked as a UX Researcher at Canadian Tire and 
                    UX/UI Designer at University of Toronto for the Faculty of Arts and Science.<br/>
                    &emsp; If you would like to get in touch feel free to <a href= "mailto:zaworskk@sheridancollege.ca" class="inlineLink" >email me</a> or add me on <a href="https://www.linkedin.com/in/kevin-zaworski-12a199127/" class="inlineLink">LinkedIn.</a><br/>
                </h2>
            </div>
        </div> 
        <div class="row" id="projects">
            <div class="col-sm-10 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
                <div class="sectionHeading">
                    <h2>Projects</h2> 
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-6 project">
                <img src="images/uoft_homepage.jpg" alt="screenshot of U of T Home Page for Website Redesign Project." />
                <h3 class="articleTitle"><a href="/univeristy-of-toronto/">Department Website Redesign <span class="articledescription"> for the Univeristy of Toronto: Faculty of Arts and Science.</span></a></h3>
                <p class="date">UX & UI Design</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-6 project ">
                    <img src="images/ct_homepageimage.jpg" alt="Canadian Tire digital prototype on a white ipad." />
                    <h3 class="articleTitle"><a href="/canadian-tire/">Canadian Tire Prototypes <span class="articledescription"> building prototypes that would be used in user testing</span></a></h3>
                    <p class="date"> Prototype </p>
            </div>
        </div>        
        <div class="row" id="articles">
                <div class="col-sm-10 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
                    <div class="sectionHeading">
                        <h2>Articles</h2>
                    </div>
                </div>
            </div>
            {% for post in site.posts %}        
            <div class="row">
                <div class="col-sm-10 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
                    <article> 
                    <h3 class="articleTitle"><a href="{% if post.redirect_url %}{{ post.redirect_url }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}<span class="articledescription"> {{ post.description }} {% if post.redirect_url %} <i class="fa fa-external-link"></i>{% endif %}</span></a></h3>    
                    <p class="date">{{ post.categories }}, {{ post.date | date: '%B %d, %Y' }}
                    </p>
                    </article> 
                </div>
            </div>
            {% endfor %}
    </div>

  
    <script type="text/javascript" src="/js/script.js"></script>
