---
layout: project
title:  "Department Website Redesign"
description: " for the Univeristy of Toronto: Faculty of Arts and Science. of Arts and Science"
categories: ["UX & UI Design"]
permalink: /univeristy-of-toronto/
---
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="{{ "/images/uoft_banner.png" | absolute_url }}" alt="U of T Faculty Hompage on an apple laptop." >
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
            <h3> Project Overview </h3>
            <p>Update and standardize the website design for the Faculty of Arts and Science departments to align with the University of Toronto brand. This involved updating current Drupal site design. </p>
            <br />
            <p><strong>Related reading </strong><a href="/design/2018/01/03/Designing-For-Events.html" class="inlineLink">Design for multi-day events Creating a new feature for University of Toronto: Faculty of Arts and Science</a></p><br/>

            <h3>My Role</h3>
            <p>I began this project in January 2017. I designed the user interface design and developed a style guide for other designers to follow when developing modules for the site. I also built a Axure prototype to be used to demo the site around to stakeholders and interested faculty.

            I also worked alongside another designer and developer to make sure that the site met the AODA standard of AA compliance. 

            I left this project in April 2017 to return to school. </p>

            <h3> Design Samples </h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-4 col-lg-4">
            <img src="{{ "/images/uoft_homepage_sample.JPG" | absolute_url }}" alt="U of T Homepage design sample" >
            <p class="date"><em>Homepage design</em></p>
        </div>

        <div class="col-sm-10 col-md-4 col-lg-4">
            <img src="{{ "/images/uoft_publication_sample.jpg" | absolute_url }}" alt="U of T publication page design sample" >
            <p class="date"><em>Publication details design</em></p>
        </div>

        <div class="col-sm-10 col-md-4 col-lg-4">
            <img src="{{ "/images/uoft_newspage.jpg" | absolute_url }}" alt="U of T news post design sample" >
            <p class="date"><em>News article design</em></p>
        </div>
    </div>
</div>
