<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet"> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/structure.css">
</head>
<body>

    <!--
        Feel free to check whats underneath the hood at github.com/kevinnnz/kevinnnz.io
    -->
    <header class="container">
        <nav class="row">
            <div class="col-sm-10 col-md-8 col-lg-10">
                <h1 class="mast"><a href="/">Kevin Zaworski</a></h1>
            </div>
        </nav>
    </header>
    {{ content }}
</body>
</html>