---
layout: default
---
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-md-2 col-md-8 offset-lg-2 col-lg-8 blogPost">
                <h2 class="articleTitle">{{ page.title }} <span class="articledescription"> {{ page.description }} </span></h2> 
                <p class="date">{{ page.categories }}, {{ page.date | date: '%B %d, %Y' }}</p>
            </div>
            <div class="col-sm-10 offset-md-2 col-md-8 offset-lg-2 col-lg-8">
                <p>
                        {{ content }}
                </p>
            </div>
        </div>
    </div>
